
class ram_sb;
    //Declare an event DONE
    event DONE;
    //Declare three variables of int datatype for counting
    //number of read data received from the reference model (rm_data_count)
    //number of read data received from the monitor (mon_data_count)
    //number of read data verified (data_verified)
    //int rm_data_count, mon_data_count, data_verified;

    int rm_data_count = 0 ;
    int mon_data_count = 0;
    int data_verified = 0;
    
    // Declare ram_trans handles as 'rm_data','rcvd_data' and cov_data 

    ram_trans rm_data ;
    ram_trans rcvd_data ;
    ram_trans cov_data ;


    
    //Declare two mailboxes as 'rm2sb','rdmon2sb' parameterized by ram_trans 

    mailbox #(ram_trans)     rm2sb;
    mailbox #(ram_trans)  rdmon2sb;
    
    
    //Write the functional coverage model 
    //Define a covergroup as 'mem_coverage'    
    //Define coverpoints and bins for rd_address
    //Define coverpoints and bins for data_out
    //Define coverpoints and bins for read
    //Define cross for read and rd_address
    covergroup mem_coverage;
      option.per_instance=1;     

      RD_ADD : coverpoint cov_data.rd_address {
                     bins ZERO     = {0};
                     bins LOW1     = {[1:585]};
                     bins LOW2     = {[586:1170]};
                     bins MID_LOW  = {[1171:1755]};
                     bins MID      = {[1756:2340]};
                     bins MID_HIGH = {[2341:2925]};
                     bins HIGH1    = {[2926:3510]};
                     bins HIGH2    = {[3511:4094]};
                     bins MAX      = {4095};
                                              }

      DATA : coverpoint cov_data.data_out {
                     bins ZERO     = {0};
                     bins LOW1     = {[1:500]};
                     bins LOW2     = {[501:1000]};
                     bins MID_LOW  = {[1001:1500]};
                     bins MID      = {[1501:2000]};
                     bins MID_HIGH = {[2001:2500]};
                     bins HIGH1    = {[2501:3000]};
                     bins HIGH2    = {[3000:4293]};
                     bins MAX      = {4294};
                                          }     
      
      RD : coverpoint cov_data.read    {
                     bins read  = {1};
                                       }

      READxADD: cross RD,RD_ADD; 
      
   endgroup : mem_coverage

    
    //In constructor
    //pass the mailboxes as arguments
    //make the connections
    //create an instance for the covergroup
    function new (mailbox #(ram_trans) rm2sb,
                  mailbox #(ram_trans) rdmon2sb);
        // Assign mailboxes to local handles  
        this.rm2sb = rm2sb ;
        this.rdmon2sb = rdmon2sb ;
        // Create a new instance of the covergroup
        mem_coverage = new();
        
    endfunction: new

    //In virtual task start    
    virtual task start();
        fork
            // Implement a while loop (e.g., while(1) or based on transaction count)
                // Get data from rdmon2sb and increment mon_data_count
               
                // Get data from rm2sb and increment rm_data_count
                
                // Call the check task, passing the received data
                 
                while(1) begin 
                    rdmon2sb.get(rcvd_data);

                    mon_data_count++;

                    rm2sb.get(rm_data);

                    rm_data_count++ ;

                    check(rcvd_data);

                end
                  
            
        join_none    
    endtask: start

    // Understand and include the virtual task check
    // This task compares the data from the monitor with the reference model's data.
     virtual task check(ram_trans rc_data);
      string diff;
      if(rc_data.read == 1) 
         begin
            if(rc_data.data_out == 0)
               $display("SB: Random data not written");
            else if(rc_data.read == 1 && rc_data.data_out != 0)
               begin
                  if(!rm_data.compare(rc_data,diff))
                     begin:failed_compare
                        rc_data.display("SB: Received Data");
                        rm_data.display("SB: Data sent to DUV");
                        $display("%s\n%m\n\n", diff);
                        $finish;
                     end:failed_compare
                  else
                     $display("SB:  %s\n%m\n\n", diff);
               end
            //shallow copy rm_data to cov_data
            cov_data = new rm_data;
            //Call the sample function on the covergroup 
            mem_coverage.sample();
     
            //Increment data_verified 
            data_verified++;
            //Trigger the event if the verified data count is equal to the sum of number of read and read-write transactions 
            if(data_verified >= (number_of_transactions-rc_data.no_of_write_trans)) 
               begin             
                  ->DONE;
               end
         end
   endtask: check

    //In virtual function report    
    //display rm_data_count, mon_data_count, data_verified 
    virtual function void report();
        // Display scoreboard report header
        $display("-----------------SCOREBOARD REPORT---------------------");
        
        // Display counts for rm_data_count
        $display(" read data generated %0d" , rm_data_count);
        
        // Display counts for mon_data_count
        $display("read data recived %0d" , mon_data_count);
        
        // Display counts for data_verified
        $display(" data_verified %0d" , data_verified);
        
    endfunction: report
    
endclass: ram_sb
